@font-face {
  font-family: "distant galaxy";
  src: url("../fonts/distant-galaxy.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.hidden {
  display: none !important; }

.body {
  background-image: url("../img/stars-bg.jpg"); }

.header {
  margin: 20px auto 0 auto; }

.header_title {
  font-family: "distant galaxy", cursive;
  font-size: 50px;
  color: #FFE81F;
  text-align: center;
  text-transform: uppercase; }

.header_title--subtitle {
  font-family: "distant galaxy", cursive;
  font-size: 30px;
  color: #FFE81F;
  text-align: center;
  text-transform: uppercase; }

.settings {
  display: block;
  max-width: 300px;
  margin: 40px auto 0 auto;
  padding: 0 20px;
  background-color: rgba(120, 120, 120, 0.7);
  border: 5px solid #FFE81F;
  border-radius: 20px; }

.settings_title {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #FFE81F;
  text-align: center;
  font-weight: bolder; }

.settings_container {
  margin: 40px 0; }

.settings_container_img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  border: 5px solid #FFE81F;
  border-radius: 100%;
  cursor: pointer; }

.settings_container_img:hover {
  border-color: #FB5607; }

.settings_container_quote {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFE81F;
  text-align: center; }

.settings_container_hint {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #FFE81F;
  text-align: center;
  font-style: italic; }

.game-screen {
  display: block;
  max-width: 600px;
  margin: 40px auto 0 auto; }

.status_text--quote {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #FFE81F;
  text-align: center;
  font-weight: bolder;
  font-style: italic; }

.status_text--hint {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFE81F;
  text-align: center; }

.game-screen_board {
  margin: 40px 0; }

.board_row_field {
  display: inline-block;
  width: 31%;
  height: 200px;
  margin: 5px;
  border: 5px solid #FFE81F;
  box-sizing: border-box;
  cursor: pointer; }

.board_row_field:hover {
  border-color: #FB5607; }

.field_sign {
  display: block;
  width: 100%; }

.end-popup {
  z-index: 2;
  position: fixed;
  top: 40vh;
  left: 45vh;
  padding: 20px;
  background-color: #787878;
  border: 5px solid #FFE81F;
  border-radius: 20px; }

.end-popup_title {
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #FFE81F;
  text-align: center; }

.end-popup_button {
  width: 90%;
  display: block;
  margin: auto;
  padding: 10px;
  border: 2px solid #FFE81F;
  cursor: pointer; }

.end-popup_button_text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFE81F;
  text-align: center;
  display: block;
  margin: auto; }

.end-popup_middle-text {
  display: block;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #FFE81F;
  text-align: center;
  text-transform: uppercase; }

@media screen and (min-width: 576px) {
  .header_title {
    font-family: "distant galaxy", cursive;
    font-size: 80px;
    color: #FFE81F;
    text-align: center; }

  .header_title--subtitle {
    font-family: "distant galaxy", cursive;
    font-size: 40px;
    color: #FFE81F;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
