@font-face {
  font-family: "distant galaxy";
  src: url("../fonts/distant-galaxy.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.hidden {
  display: none !important; }

.body {
  background-image: url("../img/stars-bg.jpg");
  padding: 20px; }

.header {
  margin: 0 auto 40px auto; }

.header_title {
  font-family: "distant galaxy", cursive;
  font-size: 45px;
  color: #FFE81F;
  text-align: center;
  text-transform: uppercase; }

.header_title--subtitle {
  font-family: "distant galaxy", cursive;
  font-size: 30px;
  color: #FFE81F;
  text-align: center;
  text-transform: uppercase; }

.settings {
  display: block;
  max-width: 300px;
  margin: 0 auto 20px auto;
  padding: 20px;
  background-color: rgba(120, 120, 120, 0.7);
  border: 5px solid #FFE81F;
  border-radius: 20px; }

.settings_title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #FFE81F;
  text-align: center;
  font-weight: bolder; }

.settings_container {
  margin: 40px 0; }

.settings_container_img {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
  height: 200px;
  border: 5px solid #FFE81F;
  border-radius: 100%;
  cursor: pointer; }

.settings_container_img:hover {
  border-color: #FB5607; }

.settings_container_quote {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFE81F;
  text-align: center;
  margin-bottom: 5px; }

.settings_container_hint {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFE81F;
  text-align: center;
  font-style: italic; }

.game-screen {
  display: block; }

.game-screen_status {
  margin-bottom: 20px; }

.status_text--quote {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFE81F;
  text-align: center;
  font-weight: bolder;
  font-style: italic; }

.status_text--hint {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #FFE81F;
  text-align: center; }

.game-screen_board {
  display: block;
  margin: auto;
  width: 300px; }

.board_row_field {
  display: inline-block;
  width: 92px;
  height: 92px;
  margin: 2px;
  border: 2px solid #FFE81F;
  box-sizing: border-box;
  cursor: pointer; }

.board_row_field:hover {
  border-color: #FB5607; }

.field_sign {
  display: block;
  width: 100%; }

.end-popup {
  z-index: 2;
  position: fixed;
  top: 40vh;
  left: 40vh;
  min-width: 500px;
  padding: 20px;
  background-color: #787878;
  border: 5px solid #FFE81F;
  border-radius: 20px; }

.end-popup_title {
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #FFE81F;
  text-align: center; }

.end-popup_button {
  width: 90%;
  display: block;
  margin: auto;
  padding: 10px;
  border: 2px solid #FFE81F;
  cursor: pointer; }

.end-popup_button--difficulty {
  width: 90%;
  display: block;
  margin: 50px auto 0 auto;
  padding: 10px;
  border: 2px solid #FFE81F;
  cursor: pointer; }

.end-popup_button_text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #FFE81F;
  text-align: center;
  display: block;
  margin: auto; }

.end-popup_middle-text {
  display: block;
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #FFE81F;
  text-align: center;
  text-transform: uppercase; }

@media screen and (min-width: 576px) {
  .header_title {
    font-size: 80px; }

  .header_title--subtitle {
    font-size: 40px; }

  .status_text--quote {
    font-size: 25px; }

  .status_text--hint {
    font-size: 20px; }

  .game-screen_board {
    width: 500px; }

  .board_row_field {
    width: 154.66667px;
    height: 154.66667px;
    margin: 3px;
    border-width: 3px; } }
@media screen and (min-width: 768px) {
  .game-screen_board {
    width: 600px; }

  .board_row_field {
    width: 180px;
    height: 180px;
    margin: 5px;
    border-width: 5px; } }

/*# sourceMappingURL=style.css.map */
