// This stylesheet is written according to BEM convention.
// Style for mobile (<576px) is default.

// COLORS:

$ligth-side-blue: #076EB0;
$dark-side-red: #9D2B21;
$sw-title-yellow: #FFE81F;
$highlight-orange: #FB5607;
$grey: #787878;
$grey-opacity: rgba(120,120,120,0.7);

// FONTS

$title-font: "distant galaxy", cursive;
$normal-font: 'Montserrat', sans-serif;

@font-face {
  font-family: "distant galaxy";
  src: url("../fonts/distant-galaxy.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin text($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
  text-align: center;
};

.hidden {
  display: none !important;
}

.body {
  background-image: url("../img/stars-bg.jpg");
  padding: 20px;
}

.header {
  margin: 0 auto 40px auto;
}

.header_title {
  @include text($title-font, 45px, $sw-title-yellow);
  text-transform: uppercase;
}

.header_title--subtitle {
  @include text($title-font, 30px, $sw-title-yellow);
  text-transform: uppercase;
}

//***** SETTINGS (SIGN & DIFFICULTY) *****

.settings {
  display: block;
  max-width: 300px;
  margin: 0 auto 40px auto;
  padding: 20px 20px 0 20px;
  background-color: $grey-opacity;
  border: 5px solid $sw-title-yellow;
  border-radius: 20px;
}

.settings_title {
  margin-bottom: 20px;
  @include text($normal-font, 25px, $sw-title-yellow);
  font-weight: bolder;
}

.settings_container {
  margin: 40px 0;
}

.settings_container_img {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
  height: 200px;
  border: 5px solid $sw-title-yellow;
  border-radius: 100%;
  cursor: pointer;
}

.settings_container_img:hover {
  border-color: $highlight-orange;
}

.settings_container_quote {
  @include text($normal-font, 20px, $sw-title-yellow);
  margin-bottom: 5px;
}

.settings_container_hint {
  @include text($normal-font, 15px, $sw-title-yellow);
  font-style: italic;
}

//************ GAME BOARD ************

.game-screen {
  display: block;
  margin-bottom: 20px;
}

.game-screen_status {
  margin-bottom: 20px;
  min-height: 80px;
}

.status_text--quote {
  margin-bottom: 5px;
  @include text($normal-font, 20px, $sw-title-yellow);
  font-weight: bolder;
  font-style: italic;
}

.status_text--hint {
  @include text($normal-font, 18px, $sw-title-yellow);
}

.game-screen_board {
  position: relative;
  display: block;
  margin: auto;
  width: 300px;
}

.board_row_field {
  display: inline-block;
  width: (300px / 3) - 8px;
  height: (300px / 3) - 8px;
  margin: 2px;
  border: 2px solid $sw-title-yellow;
  box-sizing: border-box;
  cursor: pointer;
}

.board_row_field:hover{
  border-color: $highlight-orange;
}

.field_sign {
  display: block;
  width: 100%;
}

//************ GAME OVER POPUP ************

.end-popup {
  z-index: 2;
  position: absolute;
  top: -150px;
  left: 50px;
  max-width: 150px;
  padding: 20px;
  background-color: $grey;
  border: 2px solid $sw-title-yellow;
  border-radius: 10px;
}

.end-popup_title {
  margin-bottom: 40px;
  @include text($normal-font, 20px, $sw-title-yellow)
}

.end-popup_button {
  display: block;
  margin: auto;
  width: 90%;
  padding: 10px;
  border: 2px solid $sw-title-yellow;
  cursor: pointer;
}

.end-popup_button:hover {
  border-color: $highlight-orange;
}

.end-popup_button--difficulty {
  width: 90%;
  display: block;
  margin: 40px auto 0 auto;
  padding: 10px;
  border: 2px solid $sw-title-yellow;
  cursor: pointer;
}

.end-popup_button--difficulty:hover {
  border-color: $highlight-orange;
}

.end-popup_button_text {
  display: block;
  margin: auto;
  @include text($normal-font, 15px, $sw-title-yellow);
}

.end-popup_middle-text {
  display: block;
  margin: 10px auto;
  @include text($normal-font, 18px, $sw-title-yellow);
  text-transform: uppercase;
}

//************ RESULTS ************

.results {
  display: block;
  margin: 0 auto 40px auto;
}

.results_game-counter {
  margin-bottom: 10px;
  @include text($normal-font, 30px, $sw-title-yellow);
}

.results_container {
  margin-bottom: 5px;
  text-align: center;
}

.results_container_text {
  @include text($normal-font, 20px, $sw-title-yellow);
  font-weight: bolder;
}

//************ FOOTER ************

.footer {
  text-align: center;
}

.footer_text {
  @include text($normal-font, 16px, $sw-title-yellow);
}

.footer_text--name {
  @include text($normal-font, 16px, $highlight-orange);
  text-decoration: none;
  font-style: italic;
}

.footer_text--name:hover {
  color: $ligth-side-blue;
}

//************ TABLET & DESKTOP RESOLUTION ************

@media screen and (min-width: 576px) {

  .header_title {
    font-size: 80px;
  }

  .header_title--subtitle {
    font-size: 40px;
  }

  .game-screen_status {
    min-height: 0;
  }

  .status_text--quote {
    font-size: 25px;
  }

  .status_text--hint {
    font-size: 20px;
  }

  .game-screen_board {
    width: 500px;
  }

  .board_row_field {
    width: (500px / 3) - 12px;
    height: (500px / 3) - 12px;
    margin: 3px;
    border-width: 3px;
  }

  .end-popup {
    top: -50px;
    left: 110px;
    max-width: 250px;
    border-width: 3px;
    border-radius: 15px;
  }

  .results_game-counter {
    font-size: 40px;
  }

  .results_container_text {
    font-size: 25px;
  }

}

@media screen and (min-width: 768px) {

  .game-screen_board {
    width: 600px;
  }

  .board_row_field {
    width: (600px / 3) - 20px;
    height: (600px / 3) - 20px;
    margin: 5px;
    border-width: 5px;
  }

  .end-popup {
    top: 20px;
    left: 60px;
    min-width: 400px;
    border-width: 5px;
    border-radius: 20px;
  }

  .end-popup_title {
    font-size: 30px;
  }

  .end-popup_button_text {
    font-size: 18px;
  }

  .end-popup_middle-text {
    font-size: 21px;
  }

}



